:root {
    --color-foreground: #111827;
    --color-background: #f9fafb;
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --color-foreground: #f9fafb;
        --color-background: #0a0a0a;
    }
}
