@import "../../../styles/variables.css";

.productCard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding: var(--spacing-sm);
  margin: var(--spacing-lg);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);

  @media (min-width: 1280px) {
    flex-direction: row;
  }
}

.image {
  flex-shrink: 0;
  align-self: center;
}

.image img {
  object-fit: cover;
  border-radius: var(--spacing-sm);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  flex: 1;
}

.infoTop {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-xs);
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
}

.description {
  font-size: 0.95rem;
  color: var(--color-text-helper);
  line-height: 1.5;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.currentPrice {
  font-size: 1.1rem;
  font-weight: 800;
}

.oldPrice {
  text-decoration: line-through;
}

.promotionContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.promotion {
  background-color: var(--color-bg-secondary);
  color: var(--color-brand);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--spacing-xs);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.addToCartButton {
  color: var(--color-white);
  background-color: var(--color-brand);
  border-radius: var(--radius-sm);
  border: none;
  cursor: pointer;
  padding: var(--spacing-sm);
  text-transform: uppercase;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: var(--spacing-md);

  &:hover,
  &:disabled {
    background-color: var(--color-brand-hover);
  }
}
