@import "../../../styles/variables.css";

.productCard {
  display: flex;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
}

.image {
  flex-shrink: 0;
}

.image img {
  object-fit: cover;
  border-radius: var(--spacing-sm);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  flex: 1;
}

.infoTop {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-xs);
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
}

.description {
  font-size: 0.95rem;
  color: var(--color-description);
  line-height: 1.5;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  margin-bottom: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.currentPrice {
  font-size: 1.1rem;
  font-weight: 800;
}

.oldPrice {
  text-decoration: line-through;
}

.promotionContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.promotion {
  background-color: var(--color-promotion);
  color: var(--color-brand);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--spacing-xs);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
