@import "../../styles/variables.css";

.footer {
    text-align: center;
    color: var(--color-footer);
    padding: var(--spacing-md);
    font-size: 0.8rem;
    border-top: 1px solid var(--color-border);
}